In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [49]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [50]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [51]:
label_encoder_gender=LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [52]:
onehot_encoder_geo=OneHotEncoder()
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder_df=pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [53]:
data=pd.concat([data.drop('Geography', axis=1), geo_encoder_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [54]:
X=data.drop('Exited', axis=1)
y=data['Exited']

In [55]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [56]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo,file)
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

### ANN Regression

In [57]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [58]:
model = Sequential([
    Input(shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1) # default activation function is linear
])

In [65]:
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])

In [66]:
log_dir="regressionlogs/fit"
tf_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [67]:
early_stopping_callback=EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [69]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tf_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.2628 - mae: 0.2628 - val_loss: 0.2103 - val_mae: 0.2103
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.2107 - mae: 0.2107 - val_loss: 0.1925 - val_mae: 0.1925
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1959 - mae: 0.1959 - val_loss: 0.1838 - val_mae: 0.1838
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1791 - mae: 0.1791 - val_loss: 0.1751 - val_mae: 0.1751
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1786 - mae: 0.1786 - val_loss: 0.1719 - val_mae: 0.1719
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1769 - mae: 0.1769 - val_loss: 0.1660 - val_mae: 0.1660
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1668 - mae: 0.1668 - val_loss: 0.1643 - val_mae: 0.1643
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1642 - mae: 0.1642 - val_loss: 0.1625 - val_mae: 0.1625
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1599 - mae: 0.1599 - val_loss: 0.1606 - val_mae: 0.1606
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1668 - mae: 0.1668 - val_loss: 0.1589 - val_mae: 0.1589
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1602 - mae: 0.1602 - val_loss: 0.1576 - val_mae: 0.1576
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1559 - mae: 0.1559 - val_loss: 0.1564 - val_mae: 0.1564
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1534 - mae: 0.1534 - val_loss: 0.1549 - val_mae: 0.1549
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1504 - mae: 0.1504 - val_loss: 0.1548 - val_mae: 0.1548
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1574 - mae: 0.1574 - val_loss: 0.1552 - val_mae: 0.1552
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1567 - mae: 0.1567 - val_loss: 0.1523 - val_mae: 0.1523
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1488 - mae: 0.1488 - val_loss: 0.1529 - val_mae: 0.1529
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1540 - mae: 0.1540 - val_loss: 0.1521 - val_mae: 0.1521
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1495 - mae: 0.1495 - val_loss: 0.1518 - val_mae: 0.1518
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1446 - mae: 0.1446 - val_loss: 0.1507 - val_mae: 0.1507
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1492 - mae: 0.1492 - val_loss: 0.1507 - val_mae: 0.1507
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1537 - mae: 0.1537 - val_loss: 0.1504 - val_mae: 0.1504
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1427 - mae: 0.1427 - val_loss: 0.1503 - val_mae: 0.1503
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1449 - mae: 0.1449 - val_loss: 0.1501 - val_mae: 0.1501
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1569 - mae: 0.1569 - val_loss: 0.1490 - val_mae: 0.1490
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1430 - mae: 0.1430 - val_loss: 0.1499 - val_mae: 0.1499
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1462 - mae: 0.1462 - val_loss: 0.1496 - val_mae: 0.1496
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1440 - mae: 0.1440 - val_loss: 0.1492 - val_mae: 0.1492
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1486 - mae: 0.1486 - val_loss: 0.1488 - val_mae: 0.1488
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1479 - mae: 0.1479 - val_loss: 0.1487 - val_mae: 0.1487
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1485 - mae: 0.1485 - val_loss: 0.1480 - val_mae: 0.1480
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1451 - mae: 0.1451 - val_loss: 0.1470 - val_mae: 0.1470
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1412 - mae: 0.1412 - val_loss: 0.1477 - val_mae: 0.1477
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1436 - mae: 0.1436 - val_loss: 0.1479 - val_mae: 0.1479
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1460 - mae: 0.1460 - val_loss: 0.1479 - val_mae: 0.1479
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1423 - mae: 0.1423 - val_loss: 0.1510 - val_mae: 0.1510
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1396 - mae: 0.1396 - val_loss: 0.1482 - val_mae: 0.1482
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1326 - mae: 0.1326 - val_loss: 0.1491 - val_mae: 0.1491
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1403 - mae: 0.1403 - val_loss: 0.1477 - val_mae: 0.1477
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1381 - mae: 0.1381 - val_loss: 0.1490 - val_mae: 0.1490
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1373 - mae: 0.1373 - val_loss: 0.1496 - val_mae: 0.1496
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.1336 - mae: 0.1336 - val_loss: 0.1487 - val_mae: 0.1487

In [73]:
model.save('model.keras')

In [70]:
%load_ext tensorboard

In [72]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 8936), started 0:00:04 ago. (Use '!kill 8936' to kill it.)